.vscode/
.streamlit/secrets.toml
data/*.csv
app_local.py
__pycache__/
*_Local.py
.env
*.toml

data/GCC_badge_PGM_1000x1000.png
data/Incentives Plans.xlsx
data/~$Incentives Plans.xlsx
data/District Incentives Plan modified.docx